{% extends "base.html" %}
{% load compress staticfiles %}

{% block title %}My Checks - healthchecks.io{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>
        {% if request.team == request.user.profile %}
            My Failed Jobs
        {% else %}
            {{ request.team.team_name }}
        {% endif %}
        </h1>
    </div>
    {% if tags %}
    <div id="my-checks-tags" class="col-sm-12">
        {% for tag, count in tags %}
            {% if tag in down_tags %}
                <button class="btn btn-danger btn-xs" data-toggle="button">{{ tag }}</button>
            {% elif tag in grace_tags %}
                <button class="btn btn-warning btn-xs" data-toggle="button">{{ tag }}</button>
            {% else %}
                <button class="btn btn-default btn-xs" data-toggle="button">{{ tag }}</button>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

</div>
<div class="row">
    <div class="col-sm-12">
    {% if failed_checks %}
        {% comment %} {% include "front/my_checks_mobile.html" %} {% endcomment %}
        {% include "front/my_failed_jobs.html" %}
    {% else %}
    <div class="alert alert-info">You don't have any failed jobs yet.</div>
    {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/checks.js' %}"></script>
{% endcompress %}
{% endblock %}
